Payment Success!
   Your payment was successful. Thank you for your order. Below is the summary of your purchase:

    {% for order_info in order_items_list %}
       Order #{{ order_info.order.id }}
      
            {% for order_item in order_info.order_items %}
                <li>{{ order_item.product.title }} - Quantity: {{ order_item.quantity }} - Price: ${{ order_item.price }}</li>
            {% endfor %}
       
     Total Amount: ${{ order_info.order.amount_paid }}
    {% endfor %}

    Thank you for shopping with us!
    Your Store Team
