

{% extends "./base.html" %}

{% load static %}


{% block content %}
    <!-- Search form section -->
    <section class="py-4 text-center container">
      <form method="GET" action="{% url 'search_products' %}">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search for products..." name="q">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
      </form>
  </section>
   <!-- All products section -->
      
   <div class="album py-5 bg-light">
        
    <div class="container">

      <div class="pb-3 h5"> All products </div>


      <hr>

      <br>
      

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">


        {% for  product  in  my_products %}

          <div class="col">

            <div class="card shadow-sm">

              <img class="img-fluid" alt="Responsive image" src="{{product.image.url}}">

              <div class="card-body">

                <p class="card-text">

                  <a class="text-info text-decoration-none" href="{{product.get_absolute_url}}"> {{product.title | capfirst}}</a>

                </p>

                <div class="d-flex justify-content-between align-items-center">

                  <h5> ${{product.price}}</h5>
                </div>
              </div>
            </div>
          
          </div>
          {% endfor %}
      </div>

      <div class="pagination mt-4">
        <span class="step-links">
            {% if my_products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ my_products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ my_products.number }} of {{ my_products.paginator.num_pages }}.
            </span>

            {% if my_products.has_next %}
                <a href="?page={{ my_products.next_page_number }}">next</a>
                <a href="?page={{ my_products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</div>
    </div>
  </div>
{% endblock %}

